@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.sidebar {
  padding: 1rem;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  font-family:
    -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'Roboto', sans-serif;
}

.sidebar.focused-building-mode {
  position: relative;
}
