.search-options {
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  div {
    display: flex;
    flex-direction: column;

    input {
      width: 10rem;
    }
  }
}

.search-options.open {
  max-height: 500px;
  padding: 10px 0;
}

.date-range-picker {
  margin-bottom: 20px;
}
