.search-options {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease-out,
    padding 0.3s ease-out;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search-options.open {
  max-height: 500px;
  padding: 10px 0;
}

.date-range-picker {
  margin-bottom: 20px;
}
